pandas
numpy
ipykernel
tweepy
requests
boto3
langchain_aws
langchain
emoji
python-dotenv

fastapi
uvicorn

pytest

feedparser

bs4

icrawler
Pillow
matplotlib
deepface
tf-keras
tensorflow
opencv-python

insightface
onnxruntime

instaloader
yt-dlp

scikit-learn